.chatbox{
    padding: 12px 9px;
    background-color:cornflowerblue;
    display: flex;
    flex-direction: column;
    width: 40vh;
    height: fit-content;
    border-radius: 22px;
}

.message {
    padding: 12px 9px;
    border-radius: 12px;
    background-color: dodgerblue;
    color: white;
}

.btn{
    background-color: black;
    color : white;
    outline: none;
    margin-bottom: 1.5rem;
}
